# Python Types

These first lectures are to make sure you have your python fundamentals.

# Data Types

We can check the data type of a value in python with the `type(x)` function:

In [ ]:
# Integer numbers
x = 5
print(f"X is a {type(x)}")

# floating point (real) numbers
y = 5.5
print(f"Y is a {type(y)}")

# Boolean (true/false)
z = True
print(f"Z is a {type(z)}")

X is a <class 'int'>
Y is a <class 'float'>
Z is a <class 'bool'>

Functions that evaluate expressions return the resulting type:

In [ ]:
y = 5 < 10
print(f"y is: {y}")
type(y)

y is: True

bool

In arithmetic expressions, `True` is converted to `1` and `False` is converted `0`.

This is called **Boolean arithmetic**. It's a surprisingly rich field of mathematics and very useful in programming!

Here are some examples:

In [ ]:
bool_list = [True, False, False, True]

sum(bool_list) # They're converted to [1, 0, 0, 1]

2

In [1]:
True + True

2

In [2]:
True * 5 * False

0

# Containers

Containers are types that store collections of (not necessarily type-homogeneous) data.

# Lists

Square Brackets denote python `list`:

In [18]:
a = [False, True, 2, 3, 4.5]
a

[False, True, 2, 3, 4.5]

In [19]:
a.append(999)
a

[False, True, 2, 3, 4.5, 999]

You can put objects into lists. Note that the object in the list is just a **reference** to the underlying object:

In [20]:
b = ["cat", "dog"]
a.append(b)
a

[False, True, 2, 3, 4.5, 999, ['cat', 'dog']]

Now if we change `b` then the value will change in `a`

In [21]:
b.append("horse")
a

[False, True, 2, 3, 4.5, 999, ['cat', 'dog', 'horse']]

Using the square brackets on a container "picks out" elements from a container

In [ ]:
a[3]

Note that element `#3` is actually the **fourth element** because we *always count from zero*.

There are numerous advantages to indexing from 0 instead of counting from 1.

We can also **slice** using the colon in the square bracket:

In [ ]:
a[0 : 5]
# a[:] is the same as a[start : end]

The general rule is that `a[m:n]` returns `n - m` elements, starting at `a[m]`.

Negative numbers are also work and **go back from the first element**

In [ ]:
a[-1]

In [ ]:
a[-3 : ]

Note that since strings are effectively containers of single characters we can slice strings as well:

In [6]:
s = "My name is Jeremy"
s[-6 : ]

'Jeremy'

# Tuples

Parentheses denote a python `tuple`. Tuples are the default container: if you put commas between objects it'll default to a tuple.

In [ ]:
x = ('a', 'b')
y = 'a', 'b' # You can skip the brackets
print(x)
print(x == y)

('a', 'b')
True

Tuples are like lists except they're immutable (e.g. not-mutable; can't be modified)

In [ ]:
x = ('a', 'b')
x[0] = "this will fail"

TypeError: ignored

In [3]:
l = [True, 0, 5.5]
l[0] = "This works on a list"
l

['This works', 0, 5.5]

Watch out: Leaving an accidental comma after an expression will convert it into a tuple with an empty second element:

In [ ]:
x = 5,
print(f"X is a {type(x)}")
x

X is a <class 'tuple'>

(5,)

# Set

A **set** is a container where objects are forced to be unique. It's denoted by the *curly brackets*

In [29]:
s = {1, 1, 1, 1, 1, 2}
print(type(s))
s

<class 'set'>

{1, 2}

We'll get back to sets and the math behind them in a later lecture on **set theory**. One useful method for now is just calling `set(l)` on a container to pick out the unique elements:

In [31]:
a = [1,2,3,2,1,4,5,4,2,3,5,77,33]
a = list(set(a))
a

[1, 2, 3, 4, 5, 33, 77]

# Unpacking

You can define variables in reverse from a container by using a tuple on the **left hand side** of an assignment expression

In [4]:
tp = [11, 22, 45]
x, y, z = tp
x

11

# Associative Containers

The python `dict` is an "associative array" or a "map" -- it associates (maps) values to other values

In [25]:
d = {'name': 'Sam', 
     'age': 31,
     'race': 'hobbit',
}
type(d)

dict

One way to think of dictionaries is that they are like lists except that the items are named instead of numbered

In [26]:
d['age']

31

The names `'name'` and `'age'` are called the *keys*.

Keys are unique in a dictionary, so resetting a key will change the mapping.

This is why sets and dictionaries both use curly brackets (the keys are a set)

In [27]:
d['age'] = 999
d

{'name': 'Sam', 'age': 999, 'race': 'hobbit'}